name: Pyinstaller Executable-Building

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ${{ matrix.os }}
    needs: create-release
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'ubuntu-latest',]
        #os: ['windows-latest', 'ubuntu-latest', 'macos-latest',]
        #bin: ['dist/main.exe','dist/main',]
        include:
        - os: ubuntu-latest
          bin: dist/main
          exec-suffix: elf
        - os:  windows-latest
          bin: dist/main.exe
          exec-suffix: exe

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.7
          cache: 'pip'

      - run: pip install -r src/requirements.txt pyinstaller
      - run: pyinstaller src/main.py --onefile --noconsole

      - name: upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.create-release.outputs.uploadurl }}
          asset_path: ${{ matrix.bin }}
          asset_name: Vertretungsplan-Tool-${{ github.os }}.${{ matrix.exec-suffix }}
          asset_content_type: application/octet-stream
          
  create-release:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: true
          release_name: AutoRelease
          tag_name:  ${{ github.run_id }}
          body_path: ReadMe.md
        env:
          GITHUB_TOKEN: ${{ github.token }}

    outputs:
      uploadurl: ${{ steps.create_release.outputs.upload_url }}
